  html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  /* background-color: black; */
}

:root {
  --tp-base-background-color: hsla(0, 0%, 10%, 1);
  --tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
  --tp-button-background-color: hsla(0, 0%, 25%, 1);
  --tp-button-background-color-active: hsla(0, 0%, 40%, 1);
  --tp-button-background-color-focus: hsla(0, 0%, 35%, 1);
  --tp-button-background-color-hover: hsla(0, 0%, 30%, 1);
  --tp-button-foreground-color: hsla(0, 0%, 76%, 0.8);
  --tp-container-background-color: hsla(0, 0%, 0%, 0.3);
  --tp-container-background-color-active: hsla(0, 0%, 0%, 0.6);
  --tp-container-background-color-focus: hsla(0, 0%, 0%, 0.5);
  --tp-container-background-color-hover: hsla(0, 0%, 0%, 0.4);
  --tp-container-foreground-color: hsla(0, 0%, 100%, 0.5);
  --tp-groove-foreground-color: hsla(0, 0%, 0%, 0.2);
  --tp-input-background-color: hsla(0, 0%, 0%, 0.3);
  --tp-input-background-color-active: hsla(0, 0%, 0%, 0.6);
  --tp-input-background-color-focus: hsla(0, 0%, 0%, 0.5);
  --tp-input-background-color-hover: hsla(0, 0%, 0%, 0.4);
  --tp-input-foreground-color: hsla(0, 0%, 100%, 0.5);
  --tp-label-foreground-color: hsla(0, 0%, 100%, 0.5);
  --tp-monitor-background-color: hsla(0, 0%, 0%, 0.3);
  --tp-monitor-foreground-color: hsla(0, 0%, 76%, 0.8);

  --ll-gray: #211d20;
}

.tp-dfwv {
  z-index: 900;
  width: 300px !important;
}

@font-face {
  font-family: "Sncrypt";
  font-style: normal;
  font-weight: 100;
  src: local("Sncrypt-Light"), url(./fonts/Sncrypt-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Sncrypt";
  font-style: normal;
  font-weight: 400;
  src: local("Sncrypt-Regular"),
    url(./fonts/Sncrypt-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Sncrypt";
  font-style: normal;
  font-weight: 900;
  src: local("Sncrypt-Black"), url(./fonts/Sncrypt-Black.ttf) format("truetype");
}

* {
  font-family: "IBM Plex Mono", monospace;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-color: var(--ll-gray);
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.banner {
  position: absolute;
  display: block;
  background-color: hsla(0, 100%, 50%, 1);
  top: 0px;
  left: 0;
  z-index: 800;
  width: 100vw;
  padding: 5px;
}

.banner p {
  font-family: "Sncrypt", monospace;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 900;
  letter-spacing: 0.5px;
  padding: 5px 30px;
}

.banner a {
  font-family: "Sncrypt", monospace;
  color: black;
}

.hud {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* opacity: 0; */
  pointer-events: none;
}

.hud div {
  margin: 30px;
  padding: 20px 25px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

.hud p {
  font-family: "Sncrypt", monospace;
  white-space: nowrap;
  color: white;
  font-weight: 200;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.bottom-bar {
  width: 100%;
  max-width: 1200px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* opacity: 0; */
  user-select: none;
  z-index: 100;
}

.bottom-bar .right-side {
  display: flex;
  justify-content: center;
  align-content: center;
}

.ui-button {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 100;
  padding: 10px;
}

.bottom-bar button:hover .ui-button {
  color: white;
}

.bottom-bar button {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  padding: 8px 5px 5px 5px;
  margin: 20px 15px;
  border: none;
  border-radius: 6px;
}

.bottom-bar button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.bottom-bar button:active {
  background-color: #777777;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  font-size: 0.75rem;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  margin-top: 3px;
  margin-left: 10px;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

#tooltipRightTop {
  top: -50%;
  left: 100%;
}

#tooltipLeftTop {
  top: 0%;
  right: 100%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.intro {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

/* LOADER */
.loader {
  margin: auto;
}

.loader p {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.75px;
}

.loader-bar {
  border-radius: 2px;
  border: 1px solid white;
  background-size: 50% auto;
  margin: 8px auto;
  width: 100%;
}

.loader-status {
  width: 0;
  height: 10px;
  margin: 2px;
  border: 1px solid var(--ll-gray);
  background-color: white;
}

.title {
  margin-bottom: 25px;
  /* pointer-events: none;
  user-select: none; */
}

.title h1 {
  text-align: center;
  font-family: "Sncrypt";
  font-weight: 900;
}

.intro p {
  color: white;
  font-size: 1.125rem;
  font-weight: 200;
  letter-spacing: 1px;
  text-align: center;
}

.cards {
  display: none;
  /* JS sets to Flex */
  flex-direction: column;
  opacity: 0;
}

.card {
  display: block;
  margin-bottom: 50px;
  width: 100%;
  max-width: 750px;
}

.card video {
  width: 100%;
  max-width: 750px;
}

.key-display {
  display: inline-block;
  color: white;
  border-radius: 2px;
  border: 1px solid white;
  margin: 2px 0;
  padding: 0 8px 2px;
}

.card p {
  display: inline;
  color: white;
  margin-top: 10px;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.75rem;
  font-weight: 200;
}

.instruction {
  display: block;
  min-height: 110px;
  
}

.card b {
  color: white;
  text-transform: uppercase;
}

.instruction-ctrls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ctrls-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.instruction-indicators {
  display: flex;
  flex-direction: row;
  margin-right: 14px;
}

.instruction-ctrls span {
  display: block;
  height: 8px;
  width: 8px;
  margin: 5px;
  border-radius: 50%;
  background-color: #444444;
}

.active {
  background-color: white !important; 
}

.instruction-ctrls button {
  background-color: black;
  padding: 10px 18px;
  border-radius: 2px;
  color: white;
  font-size: 1.125rem;
  border: 1px solid white;
  margin: 0 4px;
}

.instruction-ctrls button:nth-child(3) {
  margin-right: 0;
  text-align: left;
}

.instruction-ctrls button:nth-child(1) {
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 10px 10px 0;
  border-radius: 2px;
  border: none;
  color: white;
  font-size: 1.125rem;
}



.underline {
  width: 0;
  height: 2px;
  margin-top: 2px;
  background-color: white;
  transition: all ease-in-out 250ms;
}

.skip-btn:hover .underline {
  width: 100%;
}

.fuel-wrapper {
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.low-fuel-indicator-bg {
  opacity: 0;
  background-color: black;
}

.fuel-wrapper p {
  margin-top: 85vh;
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 5px 8px;
}

.small {
  padding: 8px 15px;
}

.info-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 300;
  display: none;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.info-modal h1 {
  text-align: center;
  font-size: 3rem;
}

.info-modal p {
  font-size: 1.125rem;
  max-width: 575px;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  font-weight: 200;
}

.info-wrapper {
  max-width: 600px;
}

h1 {
  font-size: 4rem;
  color: white;
  font-weight: 100;
}

p {
  color: white;
  font-weight: 100;
}

.mobile-reject-wrapper {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 700;
}

.mobile-reject-wrapper p {
  max-width: 375px;
  font-size: 1.125rem;
  font-weight: 200;
  margin: 25px;
  letter-spacing: 1px;
}
