html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  font-family: "IBM Plex Mono", monospace;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-color: black;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.banner {
  position: absolute;
  display: block;
  background-color: red;
  top: 0px;
  left: 0;
  z-index: 800;
  width: 100vw;
  padding: 5px;
}

.banner p {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 900;
  letter-spacing: 0.5px;
  padding: 5px 30px;
}

.banner a {
  color: black;
}

.hud {
  position: absolute;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
}

.hud div {
  margin: 30px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 1);
}

.hud p {
  white-space: nowrap;
  color: white;
  font-weight: 200;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.bottom-bar {
  width: 100%;
  max-width: 1200px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0;
  user-select: none;
  z-index: 400;
}

.bottom-bar .right-side {
  display: flex;
  justify-content: center;
  align-content: center;
}

.ui-button {
  color: #bbbbbb;
  font-size: 2rem;
  font-weight: 100;
}

.bottom-bar button:hover .ui-button {
  color: white;
}

.bottom-bar button {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 8px 5px 3px 5px;
  margin: 15px;
  border: none;
  border-radius: 5px;
}

.bottom-bar button:active {
  background-color: #777777;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  font-size: 0.75rem;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  margin-top: 3px;
  margin-left: 10px;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

#tooltipLeft {
  top: 30%;
  right: 100%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.intro-modal {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  user-select: none;
}
.intro-modal p {
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 1px;
  text-align: center;
}
.intro-modal h1 {
  text-align: center;
}

.instruction-modal {
  opacity: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-width: 1000px;
  background-color: black;
  z-index: 700;
}

.video-grid {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.instruction-modal video {
  width: 350px;
}

.card {
  margin: 0 20px 50px 20px;
  max-width: 400px;
  gap: 0;
}

.card span {
  color: white;
  margin: 0 5px;
}

.card p {
  letter-spacing: 1px;
  font-weight: 200;
}

.key-display {
  display: inline-block;
  color: white;
  border-radius: 2px;
  border: 1px solid white;
  margin: 15px 0 10px;
  padding: 8px 20px;
}

.fuel-wrapper {
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.low-fuel-indicator-bg {
  opacity: 0;
  background-color: black;
}

.fuel-wrapper p {
  margin-top: 85vh;
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 5px 8px;
}

.small {
  padding: 8px 15px;
}

.start-btn {
  display: block;
  color: white;
  border-radius: 2px;
  border: 1px solid white;
  background-color: black;
  padding: 20px 30px;
  margin: 25px 0;
  font-weight: 400;
  letter-spacing: 0.8px;
}

.start-btn:hover {
  background-color: rgb(41, 41, 41);
}

.info-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 300;
  display: none;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.info-modal h1 {
  text-align: center;
  font-size: 3rem;
}

.info-modal p {
  font-size: 1.125rem;
  max-width: 575px;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  font-weight: 200;
}

.info-wrapper {
  max-width: 600px;
}

h1 {
  font-size: 4rem;
  color: white;
  font-weight: 100;
}

p {
  color: white;
  font-weight: 100;
}

.mobile-reject-wrapper {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 700;
}

.mobile-reject-wrapper p{
  max-width: 375px;
  font-size: 1.125rem;
  font-weight: 200;
  margin: 25px;
  letter-spacing: 1px;
}
