* {
  font-family: "IBM Plex Mono", monospace;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-color: black;
}

.hud {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.hud div {
  margin: 50px 300px;
}

.hud p {
  white-space: nowrap;
  color: white;
  font-weight: 100;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.bottom-bar {
  width: 100vw;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-bar button {
  display: block;
  background-color: black;
  color: white;
  padding: 10px;
  margin: 10px;
  border: none;
}

.bottom-bar p {
  color: white;
  padding: 10px;
  margin: 10px;
}

.bottom-bar button:active {
  background-color: #777777;
}
